

<form method="post" class="form-horizontal">
      {% csrf_token %}
      <div class="form-group">
        <label class="control-label col-sm-2" for="{{ form.name.id_for_label }}">Event Name:</label>
        <div class="col-sm-10">
          {{ form.name }}
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="{{ form.start_date.id_for_label }}">Start Date:</label>
        <div class="col-sm-10">
          <input type="date" id="{{ form.start_date.id_for_label }}" name="{{ form.start_date.name }}"
                 class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="{{ form.start_time.id_for_label }}">Start Time:</label>
        <div class="col-sm-10">
          <input type="time" id="{{ form.start_time.id_for_label }}" name="{{ form.start_time.name }}"
                 value="{{ form.start_time.value|default:'' }}" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="{{ form.end_time.id_for_label }}">End Time:</label>
        <div class="col-sm-10">
          <input type="time" id="{{ form.end_time.id_for_label }}" name="{{ form.end_time.name }}"
                 value="{{ form.end_time.value|default:'' }}" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="{{ form.number_of_seats.id_for_label }}">Number of Seats</label>
        <div class="col-sm-10">
          <input type="number" id="{{ form.number_of_seats.id_for_label }}" name="{{ form.number_of_seats.name }}"
                 value="{{ form.number_of_seats.value|default:'' }}" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="{{ form.description.id_for_label }}">Description:</label>
        <div class="col-sm-10">
          {{ form.description }}
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary">Save Event</button>
          <a href="{% url 'Event_List' %}" class="btn btn-secondary">Back to Event List</a>
        </div>
      </div>
    </form>