{% extends 'base.html' %}

{% block title %}Add Event{% endblock %}
{% block add_event_active %}active{% endblock add_event_active %}
{% block style %}
<style>
  /* Center the form on the page */
  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set the form container height to 100% viewport height */
  }

  /* Style form elements */
  .form-group {
    margin-bottom: 20px;
  }

  /* Style date and time inputs */
  input[type="date"],
  input[type="time"],
  textarea { /* Apply styles to all textareas */
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  /* Increase the height of the description textarea */
  textarea[name="{{ form.description.name }}"] {
    height: 200px; /* Adjust the desired height here */
  }
</style>
{{ form.media}}
{% endblock %}

{% block body %}
<div class="form-container">
  <div class="container">
    <h2 class="text-center">Add Event</h2>
    {% include "add_event_form.html" %}
  </div>
</div>
{% endblock %}
