{% extends 'base.html' %}
{% block title %}
{{ event.name }}
{% endblock title %}

{% block style %}
.participant-card {
  float: left;
  width: calc(33.33% - 10px); /* Adjust the width as needed */
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #20B2AA;
  color: #000;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px;
}

{% endblock style %}
{% block body %}

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="text-center">Event Details</h2>
        </div>
        <div class="panel-body">
          <h3 class="text-center">{{ event.name }}</h3>
          <p><strong>Start Date:</strong> {{ event.start_date }}</p>
          <p><strong>Start Time:</strong> {{ event.start_time }}</p>
          <p><strong>End Time:</strong> {{ event.end_time }}</p>
          <p><strong>Description:</strong> {{ event.description }}</p>

          {% if user == event.host %}
            <div class="text-center">
              <a href="{% url 'update_event' event.id %}" class="btn btn-primary">Edit Event</a>
              <a href="{% url 'delete_event' event.id %}" class="btn btn-danger">Delete Event</a>
            </div>
          {% elif event.participants.count == event.number_of_seats %}
            <div class="text-center">
              <a href="#" class="btn btn-primary">Fully Booked</a>
            </div>
          {% elif user in event.participants.all %}
            <div class="text-center">
              <form method="post" action="{% url 'remove_participant' event.id user.id %}" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-sm">Remove yourself from participants</button>
              </form>
            </div>
          {% else %}
            <form method="post" action="{% url 'add_participant' event.id %}">
              {% csrf_token %}
              <div class="text-center">
                <button type="submit" class="btn btn-success">Join Event</button>
              </div>
            </form>
          {% endif %}
        </div>
        <div class="panel-footer">
          <h3 class="text-center">Participants: {{ event.participants.count }}</h3>
          <div class="participant-list">
            {% for participant in event.participants.all %}
              <div class="participant-card float-left">
                <div class="card-body">
                  <h5 class="card-title">{{ participant.username }}</h5>
                  <p class="card-text"><strong>Name:</strong> {{ participant.first_name }} {{ participant.last_name }}</p>
                  <p class="card-text"><strong>Email:</strong> {{ participant.email }}</p>
                  {% if user == event.host %}
                    <form method="post" action="{% url 'remove_participant' event.id participant.id %}" style="display: inline;">
                      {% csrf_token %}
                      <input type="hidden" name="participant_id" value="{{ participant.id }}">
                      <button type="submit" class="btn btn-danger btn-sm">Remove</button>
                    </form>
                  {% endif %}
                </div>
              </div>
            {% empty %}
              <p>No participants yet.</p>
            {% endfor %}
            <div style="clear: both;"></div> {# Clear the float to prevent layout issues #}
          </div>
        </div>
      </div>
      <div class="text-center">
        {% if user in event.participants.all  %}
          <a href="{% url 'Cafeteria:order_food' event.id %}" class="btn btn-primary">Order Food</a>

        {% endif %}
        <a href="{% url 'Event_List' %}" class="btn btn-secondary">Back to Event List</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
