{% extends 'base.html' %}
{% block event_active %}active{% endblock event_active %}
{% block title %}
  Upcoming Events
{% endblock title %}
{% block body %}
  <h2>Event List</h2>
  <ul class="list-group">
    {% for event in events %}
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-6">
            <a href="{% url 'event_detail' event.id %}" class="btn btn-info btn-sm">{{ event.name }}</a>
          </div>
          <div class="col-md-6 text-right">
            {% if user == event.host %}
              <a href="{% url 'update_event' event.id %}" class="btn btn-primary btn-sm">Edit</a>
              <a href="{% url 'delete_event' event.id %}" class="btn btn-danger btn-sm ml-2">Delete</a>
            {% elif user in event.participants.all %}
              <form method="post" action="{% url 'remove_participant' event.id %}" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-sm">Remove yourself as a participant</button>
              </form>
            {% else %}
              <form method="post" action="{% url 'add_participant' event.id %}" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-success btn-sm">Join Event</button>
              </form>
            {% endif %}
          </div>
        </div>
      </li>
    {% empty %}
      <li class="list-group-item">No events found.</li>
    {% endfor %}
  </ul>
  <a href="{% url 'AddEvent' %}" class="btn btn-success mt-3">Add Event</a>
{% endblock %}
